<launch>
    <arg name="log_folder" default="$(env PWD)/csv_logs/test" />
    <arg name="constant_mode" default="false" />
    <arg name="shared_mode" default="false" />
    <arg name="compliance_mode" default="false" />
    <arg name="joystick_mode" default="true" />
    <arg name="remote_mode" default="false" />

    <include file="$(find qolo)/launch/joystick_qolo.launch"/>
    
    <node name="qolo_control" pkg="qolo" type="qolo_control_node.py" output="screen">
        <param name="log_folder"
               type="str"
               value="$(arg log_folder)"/>
        <param name="constant_mode"
               type="bool"
               value="$(arg constant_mode)"/>
        <param name="shared_mode"
               type="bool"
               value="$(arg shared_mode)"/>
        <param name="compliance_mode"
               type="bool"
               value="$(arg compliance_mode)"/>
        <param name="joystick_mode"
               type="bool"
               value="$(arg joystick_mode)"/>
        <param name="remote_mode"
               type="bool"
               value="$(arg remote_mode)"/>
    </node>

    <!-- <include file="$(find qolo)/launch/tf_qolo.launch"/> -->
    <include file="$(find qolo)/launch/tf_qolo_laserscanmatcher.launch"/>

</launch>
