<launch>
	<arg name="topic_scan" default="/rear_lidar/scan"/>
	<arg name="topic_imu" default="/camera_front/imu"/>
	<arg name="topic_cloud" default="/rear_lidar/velodyne_points"/>

	#### start the laser scan_matcher ##############################

	<node pkg="laser_scan_matcher"
		  type="laser_scan_matcher_node"
		  name="laser_scan_matcher_node"
		  output="screen">

		<remap from="scan" to="$(arg topic_scan)" />
		<remap from="imu/data" to="$(arg topic_imu)" />
		<remap from="cloud" to="$(arg topic_cloud)" />

		<param name="max_iterations" value="10" />
		<param name="use_imu" value="false" />

		<param name="use_cloud_input" value="false" />
		<param name="cloud_range_min" value="0.3" />
		<param name="cloud_range_max" value="25.0" />

		<param name="fixed_frame" value="tf_qolo_world" />
		<param name="base_frame" value="tf_qolo" />

		<param name="publish_tf" value="true" />
	</node>

</launch>