<!-- Launch file for Odometry with the Intel T265 -->

<launch>
 <!-- ######### Using T265 @Front Camera location ######### -->
<!-- 
  <node pkg="tf" type="static_transform_publisher" name="tf_qolo_world" 
      args="-0.095 0.0 -0.430 0 0 0 1 t265_odom_frame tf_qolo_world 5" />

  <node pkg="tf" type="static_transform_publisher" name="tf_qolo" 
    args="-0.095 0.0 -0.235 0 0 0 1 t265_pose_frame tf_qolo 5" />    -->

  <!--  Using an INCLINED T265 upwards and World at the attractor -->
  <node pkg="tf" type="static_transform_publisher" name="tf_qolo_world" 
      args="3.905 0.0 -0.430 0 0 0 1 t265_odom_frame tf_qolo_world 5" />

  <node pkg="tf" type="static_transform_publisher" name="tf_qolo" 
      args="-0.095 0.0 -0.235 -0.012 0.225 0 0.975 t265_pose_frame tf_qolo 5" />

 <!-- ######### Using T265 @Top of Front LIDAR location ######### -->

  <!-- <node pkg="tf" type="static_transform_publisher" name="tf_qolo_world" 
      args="-0.095 0.0 -0.430 0 0 0 1 t265_odom_frame tf_qolo_world 5" />

  <node pkg="tf" type="static_transform_publisher" name="tf_qolo" 
      args="-0.235 -0.045 0.0 0.5 0.5 0.5 -0.5 t265_pose_frame tf_qolo 5" /> -->

  <node name="qolo_odom" pkg="qolo" type="t265_pose_qolo.py" output="screen" >
  </node>

</launch>