<?xml version="1.0"?>
<launch>

  <!-- Only for static tests without slam
  <node pkg="tf" type="static_transform_publisher" name="tf_front_lidar" 
      args="0.035 0 0.280 0 0.0174524 0 0.9998477 map tf_front_lidar 5" />  -->

  <!-- ######### Using Frontal SLAM #########  -->
  <!--
  <node pkg="tf" type="static_transform_publisher" name="tf_qolo_world" 
      args="-0.035 0 -0.480 0 -0.0174524 0 0.9998477 map tf_qolo_world 5 " />

  <node pkg="tf" type="static_transform_publisher" name="tf_qolo" 
      args="-0.035 0 -0.280 0 -0.0174524, 0, 0.9998477 tf_front_lidar tf_qolo 5" /> 
  
  <node pkg="tf" type="static_transform_publisher" name="tf_rear_lidar" 
      args="-0.516 0 0.164 0 0 1 0 tf_qolo tf_rear_lidar 5" />   
      -->
  <!-- ######### Using Rear SLAM ######### -->

<!--   <node pkg="tf" type="static_transform_publisher" name="tf_qolo_world" 
      args="-0.516 0 -0.364 0 0 1 0 map tf_qolo_world 5 " /> -->

<!--   <node pkg="tf" type="static_transform_publisher" name="tf_qolo_world" 
      args="-0.516 0 -0.364 0 0 1 0 map tf_qolo_world 5 " />
 -->
   <!-- ######### Using Frontal SLAM ######### -->

  <!-- <node pkg="tf" type="static_transform_publisher" name="tf_qolo_world" 
      args="-0.035 0 -0.475 0 0 0 1 map tf_qolo_world 5 " /> -->
  
 <!-- ######### Using T265 @Front Camera location ######### -->

<!--   <node pkg="tf" type="static_transform_publisher" name="tf_qolo_world" 
      args="-0.095 0.0 -0.430 0 0 0 1 t265_odom_frame tf_qolo_world 5" />

  <node pkg="tf" type="static_transform_publisher" name="tf_qolo" 
      args="-0.095 0.0 -0.235 0 0 0 1 t265_pose_frame tf_qolo 5" /> -->

  <!-- Launching other transforms -->

  <node pkg="tf" type="static_transform_publisher" name="tf_rear_lidar" 
      args="-0.516 0 0.164 0 0 1 0 tf_qolo tf_rear_lidar 5" />

  <node pkg="tf" type="static_transform_publisher" name="tf_front_lidar" 
      args="0.035 0 0.280 0 -0.0261769 0 0.9996573 tf_qolo tf_front_lidar 5" />
   
  <node pkg="tf" type="static_transform_publisher" name="tf_rds" 
      args="0 0 0 0, 0, -0.7071068, 0.7071068 tf_qolo tf_rds 5" />

  <node pkg="tf" type="static_transform_publisher" name="wheel_left" 
      args="0 0.274 0 -0.7071068 0 0 0.7071068 tf_qolo tf_qolo_wl 5" />

  <node pkg="tf" type="static_transform_publisher" name="wheel_right" 
      args="0 -0.274 0 0.7071068 0 0 0.7071068 tf_qolo tf_qolo_wr 5" />

  <node pkg="tf" type="static_transform_publisher" name="ft_front" 
      args="0.0325 0 0.5 -0.7071068 0.7071068 0 0 tf_qolo tf_ft_front 5" />

      <!--args="0.0325 0 -0.185 -0.7071068 0.7071068 0 0 tf_qolo tf_ft_front 5" /> -->

  <node pkg="tf" type="static_transform_publisher" name="front_camera" 
      args="0.126 0.0175 0.235 -0.4449967, 0.4449967, -0.5495252, 0.5495252 tf_qolo camera_front_color_optical_frame 5" />

  <node pkg="tf" type="static_transform_publisher" name="camera_front_gyro_optical_frame" 
      args="0.126 0.0175 0.235 -0.4449967, 0.4449967, -0.5495252, 0.5495252 tf_qolo camera_front_gyro_optical_frame 5" />

  <node pkg="tf" type="static_transform_publisher" name="tf_front_depth" 
      args="0.126 0.0 0.235 -0.4449967, 0.4449967, -0.5495252, 0.5495252 tf_qolo camera_front_depth_optical_frame 5" />

  <node pkg="tf" type="static_transform_publisher" name="left_camera" 
      args="-0.09 0.0675 0.424 -0.5, 0.5, -0.5, 0.5 tf_qolo camera_left_color_optical_frame 5" />

  <node pkg="tf" type="static_transform_publisher" name="left_depth" 
      args="-0.09 0.0675 0.424 -0.5, 0.5, -0.5, 0.5 tf_qolo camera_left_depth_optical_frame 5" />

  <node pkg="tf" type="static_transform_publisher" name="right_camera" 
      args="-0.09 -0.0375 0.424 -0.5, 0.5, -0.5, 0.5 tf_qolo camera_right_color_optical_frame 5" />

  <node pkg="tf" type="static_transform_publisher" name="right_depth" 
      args="-0.09 -0.0375 0.424 -0.5, 0.5, -0.5, 0.5 tf_qolo camera_right_depth_optical_frame 5" />

  <node pkg="tf" type="static_transform_publisher" name="ft_back" 
      args="-0.620 0 0.263 0 0 0 1 tf_qolo tf_ft_back 5" />

  <node pkg="tf" type="static_transform_publisher" name="tf_rear_camera" 
      args="-0.595 0 0.109 -0.4592291 -0.4592291 0.5376882 0.5376882 tf_qolo camera_rear_color_optical_frame 5" />

  <node pkg="tf" type="static_transform_publisher" name="tf_rear_depth" 
      args="-0.595 0 0.109 -0.4592291 -0.4592291 0.5376882 0.5376882 tf_qolo camera_rear_depth_optical_frame 5" />
      
  <!-- <node pkg="tf" type="static_transform_publisher" name="velodyne" 
      args="0.035 0 0.280 0 0.0261769 0 0.9996573 tf_qolo velodyne 5" /> -->
</launch>
